body{
    margin: 0 20%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 10px;
    background-color: rgb(87, 202, 248);
}

.searchInput{
    display: none;
}

.active{
    display: inline;
}



.interactive{
    height: 50px;
    width: 50px;
    background-color: yellow;
}

.content{
    padding: 10px;
}

.content .item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.avatar{
    width: 20%;
    display: flex;
}

p{
    margin: 0;
}